# Repository
repo_name: gl-inet/docs4.x
repo_url: https://github.com/gl-inet/docs4.x
edit_uri: ""

site_name: GL.iNet Router Docs 4
site_description: Documentation for GL.iNet Router Productions
site_author: GL.iNet
site_url: https://docs.gl-inet.com/router/en/4/
site_dir: /root/docs-build/router/en/4/
copyright: Copyright &copy; 2026 GL Technologies & Microuter Technologies

theme: 
  name: material
  logo: images/logo_white.svg
  custom_dir: overrides
  features:
    - navigation.indexes
    - navigation.tabs
    - navigation.top
  # palette:
  #   - scheme: default
  #     primary: white
  #     accent: indigo
  #     toggle:
  #       icon: material/toggle-switch-off-outline
  #       name: Switch to dark mode
  #   - scheme: slate
  #     primary: cyan
  #     accent: cyan
  #     toggle:
  #       icon: material/toggle-switch
  #       name: Switch to light mode
  favicon: images/favicon.png

# Plugins
plugins:
  - search
  - redirects:
      redirect_maps:
        'tutorials/vpn_cascading.md': 'tutorials/how_to_use_vpn_cascading_on_glinet_routers.md'
        'tutorials/how_to_set_up_esim.md': 'tutorials/how_to_use_esim_physical_card_with_glinet_routers.md'
        'tutorials/tap_s2s_vs_tun.md': 'tutorials/how_to_enable_openvpn_tap_s2s_mode_on_glinet_routers.md'
        'tutorials/vpn_cascading.md': 'tutorials/how_to_use_vpn_cascading_on_glinet_routers.md'
        'tutorials/build_your_own_openvpn_home_server_with_two_glrouter.md': 'tutorials/build_your_own_wireguard_home_server_with_two_glinet_routers.md'
        'tutorials/can_i_use_multiwan_wired_input.md': 'tutorials/configure_dual_ethernet_wan.md'
        'interface_guide/firmware_upgrade.md': 'interface_guide/upgrade.md'
        'faq/i_must_use_ethernet_wan_when_use_vpn.md': 'faq/do_i_have_to_configure_ethernet_wan_when_using_vpn.md'
        'faq/gl-ax1800_upgrade_to_4.md': 'faq/upgrade_to_4.md'
        'faq/gl-x3000_gl-xe3000_connection_optimization.md': 'faq/cellular_network_troubleshooting_guide.md'
        'faq/where_to_download_firmware.md': 'faq/how_to_download_firmware.md'
        'faq/can_i_add_brume2_into_app.md': 'faq/how_to_add_brume2_into_app.md'
        'tutorials/how_to_use_simpoyo_esim_physical_card_with_glinet_routers.md': 'tutorials/how_to_use_esim_physical_card_with_glinet_routers.md'
        'tutorials/how_to_use_the_simpoyo_esim_physical_card_with_android_devices.md': 'tutorials/how_to_use_the_esim_physical_card_with_android_devices.md'

# Customization
extra:
  # analytics:
  #   provider: google
  #   property: G-34T6Q5NL0V
  social:
    - icon: fontawesome/solid/globe
      link: https://www.gl-inet.com
    - icon: fontawesome/brands/github
      link: https://github.com/gl-inet/
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/gl.inet.wifi/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/GLiNetWiFi
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/gl-inet.com/
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCBfNEzurltlIeFFCbUgHQyg
    - icon: fontawesome/brands/pinterest
      link: https://www.pinterest.com/glinetWiFi/
  version:
    provider: mike
  alternate:
    - name: English
      link: /router/en/4/
      lang: en
    - name: Japanese
      link: /router/jp/4/
      lang: ja

extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css
  - https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css
  - https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css

  # we can use the cdn or files
  # - stylesheets/photoswipe.min.css
  # - stylesheets/default-skin.min.css
  - stylesheets/extra.css
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js
  - https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.umd.js
  # we can use the cdn or files
  # - javascripts/photoswipe.min.js
  # - javascripts/photoswipe-ui-default.min.js
  - javascripts/analytics.js
  - javascripts/extra.js
  - javascripts/cookieconsent.js




markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - toc:
      permalink: true
  - admonition

nav:
  - Home: index.md
  - User Guide:
    - Overview: user_guide/index.md
    - GL-MT3600BE (Beryl 7): user_guide/gl-mt3600be/index.md
    - GL-E5800 (Mudi 7): user_guide/gl-e5800/index.md
    - GL-MT5000 (Brume 3): user_guide/gl-mt5000/index.md
    - GL-BE9300 (Flint 3): user_guide/gl-be9300/index.md
    - GL-BE6500 (Flint 3e): user_guide/gl-be6500/index.md
    - GL-BE3600 (Slate 7): user_guide/gl-be3600/index.md
    - GL-X2000 (Spitz Plus): user_guide/gl-x2000/index.md
    - GL-B3000 (Marble): user_guide/gl-b3000/index.md
    - GL-MT6000 (Flint 2): user_guide/gl-mt6000/index.md
    - GL-XE3000 (Puli AX): user_guide/gl-xe3000/index.md
    - GL-X3000 (Spitz AX): user_guide/gl-x3000/index.md
    - GL-MT3000 (Beryl AX): user_guide/gl-mt3000/index.md
    - GL-AXT1800 (Slate AX): user_guide/gl-axt1800/index.md
    - GL-A1300 (Slate Plus): user_guide/gl-a1300/index.md
    - GL-AX1800 (Flint): user_guide/gl-ax1800/index.md
    - GL-MT2500/GL-MT2500A (Brume 2): user_guide/gl-mt2500/index.md
    - GL-SFT1200 (Opal): user_guide/gl-sft1200/index.md
    - GL-MT300N-V2 (Mango): user_guide/gl-mt300n-v2/index.md
    - GL-AR300M (Shadow): user_guide/gl-ar300m/index.md
    - GL-M2: user_guide/gl-m2/index.md
    - GL-S200: user_guide/gl-s200/index.md
    - GL-S20: user_guide/gl-s20/index.md
    - GL-S10: user_guide/gl-s10/index.md
    - GL-MT1300 (Beryl): user_guide/gl-mt1300/index.md
    - GL-AP1300 (Cirrus): user_guide/gl-ap1300/index.md
    - GL-E750/GL-E750V2 (Mudi/Mudi V2): user_guide/gl-e750/index.md
    - GL-X750 (Spitz): user_guide/gl-x750/index.md
    - GL-XE300 (Puli): user_guide/gl-xe300/index.md
    - GL-X300B (Collie): user_guide/gl-x300b/index.md
    - GL-AR750S (Slate): user_guide/gl-ar750s/index.md
    - GL-AR750 (Creta): user_guide/gl-ar750/index.md
    - GL-B1300 (Convexa-B): user_guide/gl-b1300/index.md
    - GL-S1300 (Convexa-S): user_guide/gl-s1300/index.md
    - GL-MV1000 (Brume): user_guide/gl-mv1000/index.md
  - FAQ:
    - Overview: faq/index.md
    - Internet:
      - First time setup: faq/first_time_setup.md
      - Warning from your browser: faq/warning_from_your_browser_during_setup.md
      - Connect to public hotspot with Captive Portal: faq/connect_to_a_hotspot_with_captive_portal.md
      - Connect Ethernet-only device to Wi-Fi: faq/produce_a_wired_connection.md
    - Problem Notification:
      - Problem Notification for GL-MT2500/GL-X3000/GL-XE3000: faq/problem_notification_for_mt2500_x3000_xe3000.md
      - Problem Notification and Solutions for GL-X3000/GL-X2000 Failure to Work with EE SIM Cards: faq/problem_notification_and_solutions_for_x3000_x2000_failure_to_work_with_ee_sim_cards.md
    - Troubleshooting:
      - Cannot access web Admin Panel: faq/cannot_access_web_admin_panel.md
      - Cannot Scan Android 5G Hotspot: faq/cannot_scan_android_5g_hotspot.md
      - Cannot Scan iPhone 5G Hotspot: faq/cannot_scan_iphone_5g_hotspot.md
      - iPhone tethering failed: faq/iphone_tethering_fail.md
      - Cellular Network Troubleshooting Guide: faq/cellular_network_troubleshooting_guide.md
      - Replacing the old router with GL.iNet router but has no internet: faq/i_replaced_my_old_router_with_gl_inet_router_but_no_internet.md
      - USB modem is not working: faq/usb_modem_is_not_working_properly_on_gl_inet_router.md
      - Repair network or reset: faq/repair_network_or_reset_firmware.md
      - What should I do if my router is bricked: faq/debrick.md
      - MacOS cannot write to a Samba share: faq/macos_cannot_write_samba.md
      - WireGuard server is not working properly: faq/my_wireguard_server_is_not_working.md
      - Stuck on "Installing" screen during firmware update: faq/stuck_on_installing_screen.md
      - Stuck on "Reverting" screen during firmware reset: faq/stuck_on_reverting_screen.md
      - Stuck on "Rebooting" screen during firmware reboot: faq/stuck_on_rebooting_screen.md
      - How to resolve a subnet conflict: faq/how_to_resolve_a_subnet_conflict.md
      - Why do I get a message from DDNS test: faq/why_do_I_get_a_message_from_ddns_test.md
      - Why is my VPN speed slower than expected: faq/why_is_my_vpn_speed_slow.md
      - What is the device capacity of my router: faq/what_is_the_device_capacity_of_my_router.md
      - What is the wireless coverage of my router: faq/what_is_the_wireless_coverage_of_my_router.md
      - Upgrade Uboot version: faq/upgrade_uboot_version.md
    - VPN:
      - How to set up OpenVPN: interface_guide/openvpn_client.md
      - How to set up WireGuard: interface_guide/wireguard_client.md
      - How to Block Non-VPN Traffic: faq/block_non_vpn_traffic.md
      - VPN Kill Switch: faq/block_non_vpn_traffic.md
      - TCP or UDP: faq/openvpn_tcp_udp.md
      - Do I have to configure Ethernet WAN when using VPN: faq/do_i_have_to_configure_ethernet_wan_when_using_vpn.md
    - Upgrade:
      - Download firmware: faq/how_to_download_firmware.md
      - Manually upgrade or downgrade: tutorials/how_to_upgrade_downgrade_router.md
    - Other:
      - LED Indication: faq/led.md
      - GL.iNet Mobile App: faq/mobile_app.md
      - Add Brume 2 into mobile App: faq/how_to_add_brume2_into_app.md
      - Change WAN to LAN: faq/change_wan_to_lan.md
      - Access GL.iNet and Adguard Home via HTTPS: faq/use_https_for_adh.md
      - Connect to Starlink Dish: faq/connect_glinetrouter_to_starlink.md
      - Remote Web Admin: faq/remote_access_web_admin_panel.md
      - Remote SSH to router: faq/remote_ssh_to_router.md
      - Public IP checking: tutorials/how_to_check_if_isp_assigns_you_a_public_ip_address.md
      - Make WiFi Calling work on Opal: faq/how_to_make_wifi_calling_work_on_opal.md
      - Find all MAC addresses: faq/how_can_i_know_the_lan_wifi_mac.md
      - Find device info: faq/where_to_find_the_device_id_mac_sn.md
      - What is LuCI: faq/what_is_luci.md
  - Tutorials:
    - Overview: tutorials/index.md
    - VPN: 
      - Set up OpenVPN client: tutorials/how_to_set_up_openvpn_client.md
      - Set up OpenVPN server: tutorials/how_to_set_up_openvpn_server.md
      - Build your own WireGuard home server: tutorials/build_your_own_wireguard_home_server_with_two_glinet_routers.md
      - Set up VPN Obfuscation: tutorials/vpn_obfuscation.md
      - Connect to the dedicated IP by NordVPN: tutorials/how_to_connect_to_the_dedicated_ip_by_nordvpn_on_glinet_routers.md
      - Connect to the dedicated IP by Surfshark: tutorials/how_to_connect_to_the_dedicated_ip_by_surfshark_on_glinet_routers.md
      - Set up OpenVPN server via Astrorelay: tutorials/how_to_set_up_openvpn_server_via_astrorelay.md
      - Set up WireGuard server via Astrorelay: tutorials/how_to_set_up_wireguard_server_via_astrorelay.md
      - Access Client LAN from Server (OpenVPN): tutorials/openvpn_server_access_client_lan_side.md
      - Access Client LAN from Server (WireGuard): tutorials/wireguard_server_access_to_client_lan_side.md
      - Access Server LAN from Client (WireGuard) via domain name: tutorials/how_to_access_server_lan_device_via_domain_name.md
      - Enable OpenVPN TAP-S2S: tutorials/how_to_enable_openvpn_tap_s2s_mode_on_glinet_routers.md
      - Enable VPN Cascading: tutorials/how_to_use_vpn_cascading_on_glinet_routers.md
      - Use WireGuard to secure RDP from outside network: tutorials/use_wireguard_to_secure_rdp_from_outside_network.md
      - Get config files from WireGuard service providers: tutorials/how_to_get_configuration_files_from_wireguard_service_providers.md
      - Reserve fixed IP for OpenVPN client: tutorials/reserve_fixed_IP_for_ovpn_client.md
      - Allow access to WAN when VPN client is enabled: tutorials/how_to_allow_access_to_wan_when_vpn_client_enabled.md
      - Route VPN Client DNS to Server Upstream DNS: tutorials/route_vpn_client_dns_to_server_upstream_dns.md
    - Cellular:
      - SMS Forwarding: tutorials/sms_forwarding.md
      - Get Module Logs: tutorials/get_module_logs.md
      - Upgrade Quectel Module: tutorials/upgrade_quectel_module_software.md
      - Check carrier aggregation status: tutorials/how_to_check_carrier_aggregation.md
      - Set up Spitz AX for RV: tutorials/how_to_set_up_and_use_spitz_ax_gl-x3000_in_your_recreational_vehicle.md
      - Install or change external antennas for Spitz AX or Puli AX: tutorials/how_to_change_x3000_and_xe3000_antennas.md
    - eSIM:
      - Use eSIM Physical Card with GL.iNet routers: tutorials/how_to_use_esim_physical_card_with_glinet_routers.md
      - Use eSIM Physical Card with Android devices: tutorials/how_to_use_the_esim_physical_card_with_android_devices.md
      - How to use SIMPoYo uFi: tutorials/how_to_use_simpoyo_ufi.md
    - GoodCloud:
      - Site to Site: tutorials/goodcloud_site_to_site.md
      - Access the LuCI via GoodCloud: tutorials/how_to_access_the_luci_interface_via_goodcloud.md
    - Network:
      - Set up a guest network: tutorials/how_to_set_up_a_guest_network.md
      - Set up drop-in gateway: tutorials/how_to_set_up_drop_in_gateway.md
      - Set up port forwarding on your primary router: tutorials/how_to_set_up_port_forwarding.md
      - Configure dual wired WAN access: tutorials/configure_dual_ethernet_wan.md
    - Others:
      - Block client devices: tutorials/how_to_block_client_devices.md
      - Manually configure static IP on client devices: tutorials/manually_configure_static_ip.md
      - Check if you have a public IP: tutorials/how_to_check_if_isp_assigns_you_a_public_ip_address.md
      - Upgrade or downgrade your router: tutorials/how_to_upgrade_downgrade_router.md
      - Connect to EAP network: tutorials/eap.md
      - Connect to EAP network with advanced settings: tutorials/how_to_connect_glinet_router_to_an_eap_network_with_advanced_settings.md
      - SSH log in to the Router: tutorials/ssh_log_in_to_the_router.md
      - Use WinSCP to access share files: tutorials/winscp_share_file.md
      - Use WinSCP to modify files: tutorials/how_to_use_winscp_to_modify_files_on_glinet_routers.md
      - Activate or top up T-Mobile SIM cards: tutorials/how_to_activate_top_up_sim_cards.md
      - Change the NAT type on Gaming: tutorials/how_to_change_the_nat_type_on_gaming.md
      - Retrieve the mobile App log: tutorials/how_to_retrieve_the_mobile_app_log.md
      - Configure Domain and IP Filtering rules for VPN: tutorials/how_to_configure_domain_and_ip_filtering_rules_for_glinet_routers_via_an_online_text_file.md
      - Technical Support via GoodCloud: tutorials/technical_support_via_goodcloud.md
  - Interface Guide:
    - Overview: interface_guide/index.md
    - Internet Connection:
      - Internet: interface_guide/internet.md
      - Ethernet: interface_guide/internet_ethernet.md
      - Repeater: interface_guide/internet_repeater.md
      - Tethering: interface_guide/internet_tethering.md
      - Cellular: interface_guide/internet_cellular.md
      - SMS: interface_guide/sms.md
      - Dual-Ethernet WAN: interface_guide/dual-ethernet_wan.md
    - Wireless:
      - Wireless: interface_guide/wireless.md
    - Clients:
      - Clients: interface_guide/clients.md
    - Cloud Services:
      - GoodCloud: interface_guide/cloud.md
      - AstroWarp: interface_guide/astrowarp.md
    - VPN:
      - VPN Dashboard: interface_guide/vpn_dashboard.md
      - OpenVPN Client: interface_guide/openvpn_client.md
      - OpenVPN Server: interface_guide/openvpn_server.md
      - WireGuard Client: interface_guide/wireguard_client.md
      - WireGuard Server: interface_guide/wireguard_server.md
      - Tor: interface_guide/tor.md
    - Applications:
      - Plug-ins: interface_guide/plugins.md
      - Dynamic DNS: interface_guide/ddns.md
      - Network Storage: interface_guide/network_storage.md
      - AdGuard Home: interface_guide/adguardhome.md
      - Parental Control: interface_guide/parental_control.md
      - ZeroTier: interface_guide/zerotier.md
      - Tailscale: interface_guide/tailscale.md
      - eSIM Management: tutorials/how_to_use_esim_physical_card_with_glinet_routers.md
    - Network:
      - Firewall: interface_guide/firewall.md
      - Port Forwarding: interface_guide/port_forwarding.md
      - Multi-WAN: interface_guide/multi-wan.md
      - LAN: interface_guide/lan.md
      - Guest Network: interface_guide/guest_network.md
      - DNS: interface_guide/dns.md
      - Port Management: interface_guide/network_port_management.md
      - Network Mode: interface_guide/network_mode.md
      - IPv6: interface_guide/ipv6.md
      - MAC Address: interface_guide/mac_address.md
      - Drop-in Gateway: interface_guide/drop-in_gateway.md
      - IGMP Snooping: interface_guide/igmp_snooping.md
      - Hardware Acceleration: interface_guide/hardware_acceleration.md
      - Network Acceleration: interface_guide/network_acceleration.md
      - NAT Settings: interface_guide/nat_settings.md
    - Flow Control:
      - DPI License: interface_guide/dpi_license.md
      - Data Statistics: interface_guide/data_statistics.md
      - Content Filter: interface_guide/content_filter.md
      - QoS: interface_guide/qos.md
      - SQM: interface_guide/sqm.md
    - System:
      - Overview: interface_guide/system_overview.md
      - Upgrade: interface_guide/upgrade.md
      - Scheduled Tasks: interface_guide/scheduled_tasks.md
      - Admin Password: interface_guide/admin_password.md
      - Display Management: interface_guide/display_management.md
      - Time Zone: interface_guide/time_zone.md
      - Toggle Button Settings: interface_guide/toggle_button_settings.md
      - Log: interface_guide/log.md
      - Security: interface_guide/security.md
      - Reset Firmware: interface_guide/reset_firmware.md
      - Advanced Settings: interface_guide/advanced_settings.md
      - Language: interface_guide/ui_languages.md
      - Help: interface_guide/help.md
  - Video Library:
    - Overview: video_library/index.md
    - Meet Our New Products: video_library/products.md
    - Unboxing & First Time Setup: video_library/unboxing_first_set_up.md
    - Tutorials: video_library/tutorials.md
  - Community:
    - Overview: community/index.md