# Repository
repo_name: gl-inet/docs4.x
repo_url: https://github.com/gl-inet/docs4.x
edit_uri: ""

site_name: GL.iNet Router Docs 4
site_description: Documentation for GL.iNet Productions
site_author: GL.iNet
site_url: https://docs.gl-inet.com/router/jp/4/
site_dir: /root/docs-build/router/jp/4/
copyright: Copyright &copy; 2024 GL Technologies & Microuter Technologies

theme: 
  name: material
  logo: images/logo.svg
  custom_dir: overrides
  features:
    - navigation.indexes
    - navigation.tabs
    - navigation.top
  favicon: images/favicon.png

# Plugins
plugins:
  - search

# Customization
extra:
  analytics:
    provider: google
    property: G-CB08JFHVHT
  social:
    - icon: fontawesome/solid/globe
      link: https://www.gl-inet.com
    - icon: fontawesome/brands/github
      link: https://github.com/gl-inet/
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/gl.inet.wifi/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/GLiNetWiFi
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/gl-inet.com/
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCBfNEzurltlIeFFCbUgHQyg
    - icon: fontawesome/brands/pinterest
      link: https://www.pinterest.com/glinetWiFi/
  version:
    provider: mike
  alternate:
    - name: English
      link: /router/en/3/
      lang: en
    - name: Japanese
      link: /router/jp/3/
      lang: ja
      
extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css
  - https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css
  # we can use the cdn or files
  # - stylesheets/photoswipe.min.css
  # - stylesheets/default-skin.min.css
  - stylesheets/extra.css
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js
  # we can use the cdn or files
  # - javascripts/photoswipe.min.js
  # - javascripts/photoswipe-ui-default.min.js
  - javascripts/extra.js

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - toc:
      permalink: true
  - admonition

nav:
  - ホーム: index.md
  - ユーザーガイド:
    - 概要: user_guide/index.md
    - GL-MT6000 (Flint 2): user_guide/gl-mt6000/index.md
    - GL-XE3000 (Puli AX): user_guide/gl-xe3000/index.md
    - GL-X3000 (Spitz AX): user_guide/gl-x3000/index.md
    - GL-MT3000 (Beryl AX): user_guide/gl-mt3000/index.md
    - GL-AXT1800 (Slate AX): user_guide/gl-axt1800/index.md
    - GL-A1300 (Slate Plus): user_guide/gl-a1300/index.md
    - GL-AX1800 (Flint): user_guide/gl-ax1800/index.md
    - GL-MT2500/GL-MT2500A (Brume 2): user_guide/gl-mt2500/index.md
    - GL-SFT1200 (Opal): user_guide/gl-sft1200/index.md
    - GL-M2: user_guide/gl-m2/index.md
    - GL-S200: user_guide/gl-s200/index.md
    - GL-S10: user_guide/gl-s10/index.md
    - GL-MT1300 (Beryl): user_guide/gl-mt1300/index.md
    - GL-AP1300 (Cirrus): user_guide/gl-ap1300/index.md
    - GL-X750 (Spitz): user_guide/gl-x750/index.md
    - GL-XE300 (Puli): user_guide/gl-xe300/index.md
    - GL-X300B (Collie): user_guide/gl-x300b/index.md
    - GL-AR750S (Slate): user_guide/gl-ar750s/index.md
    - GL-B1300 (Convexa-B): user_guide/gl-b1300/index.md
    - GL-S1300 (Convexa-S): user_guide/gl-s1300/index.md
    - GL-MV1000 (Brume): user_guide/gl-mv1000/index.md
  - FAQ:
    - 概要: faq/index.md
    - Common:
      - 初回セットアップ: faq/first_time_setup.md
      - Uboot経由でデブリック: faq/debrick.md
      - LED表示: faq/led.md
      - 修復またはリセット: faq/repair_network_or_reset_firmware.md
      - リモート アクセス Web 管理パネル: faq/remote_access_web_admin_panel.md
      - ルーターへのリモート SSH: faq/remote_ssh_to_router.md
    - トラブルシューティング:
      - ウェブ管理パネルにアクセスできません: faq/cannot_access_web_admin_panel.md
      - MacOSはSambaに書き込めない: faq/macos_cannot_write_samba.md
    - インターネット:
      - iPhone テザリング失敗: faq/iphone_tethering_fail.md
      - キャプティブポータルでホットスポットに接続する: faq/connect_to_a_hotspot_with_captive_portal.md
      - 有線接続を作成する: faq/produce_a_wired_connection.md
    - アップグレード:
      - ファームウェアをダウンロード: faq/where_to_download_firmware.md
      - ファームウェア 4.x へのアップグレード: faq/upgrade_to_4.md
      - GL-AX1800 をファームウェア 4.x にアップグレード: faq/gl-ax1800_upgrade_to_4.md
    - VPN:
      - TCP or UDP: faq/openvpn_tcp_udp.md
      - VPNなしのトラフィックをブロックする: faq/block_no_vpn_traffic.md
    - さらに:
      - WANをLANに変更: faq/change_wan_to_lan.md
      - モバイルアプリ: faq/mobile_app.md
      - LuCIとは: faq/what_is_luci.md
      - デバイス ID、MAC、SN: faq/where_to_find_the_device_id_mac_sn.md
      - デバイス LAN Mac、WiFi Mac: faq/how_can_I_know_the_lan_wifi_mac.md
  - チュートリアル:
    - 概要: tutorials/index.md
    - セルラー:
      - Quectelモジュールソフトウェアのアップグレード: tutorials/upgrade_quectel_module_software.md
      - SMS転送: tutorials/sms_forwarding.md
      - モジュールログを取得する: tutorials/get_module_logs.md
      - セルラールーターのキャリアアグリゲーションステータスを確認する方法: tutorials/how_to_check_carrier_aggregation.md
      - Spitz AX または Puli AX の外部アンテナの取り付けまたは交換方法: tutorials/how_to_change_x3000_and_xe3000_antennas.md
      - RV用Spitz AXの設定方法: tutorials/how_to_set_up_and_use_spitz_ax_gl-x3000_in_your_recreational_vehicle.md
    - VPN:
      - サーバーからクライアント LAN にアクセスする (WireGuard): tutorials/wireguard_server_access_to_client_lan_side.md
      - GL.iNet ルーターに OpenVPN クライアントを設定する方法: tutorials/how_to_set_up_openvpn_client.md
      - GL.iNet ルーターに OpenVPN サーバーを設定する方法: tutorials/build_your_own_openvpn_home_server_with_two_glrouter.md
      - 2台のGL.iNetルーターで独自のWireGuardホームサーバーを構築: tutorials/build_your_own_wireguard_home_server_with_two_glinet_routers.md
      - Astrorelay経由でOpenVPNサーバーを設定する方法: tutorials/how_to_set_up_openvpn_server_via_astrorelay.md
      - Astrorelay経由でWireguardサーバーを設定する方法: tutorials/how_to_set_up_wireguard_server_via_astrorelay.md
      - GL.iNet ルーターで NordVPN の専用 IP に接続するにはどうすればいいですか?: tutorials/how_to_connect_to_the_dedicated_ip_by_nordvpn_on_glinet_routers.md
      - TAP-S2S or TUN: tutorials/tap_s2s_vs_tun.md
      - VPN カスケード: tutorials/vpn_cascading.md
      - Wireguardを使用して外部ネットワークからのRDPを保護する: tutorials/use_wireguard_to_secure_rdp_from_outside_network.md
    - ネットワークストレージ:
      - WinSCP を使用して共有ファイルにアクセスする方法: tutorials/winscp_share_file.md
    - GoodCloud:
      - Site to Site: tutorials/goodcloud_site_to_site.md
    - ネットワーク:
      - ゲストネットワークの設定方法: tutorials/how_to_set_up_a_guest_network.md
      - ドロップインゲートウェイの設定方法: tutorials/how_to_set_up_drop_in_gateway.md
      - プライマリルーターでポート転送を設定する方法: tutorials/how_to_set_up_port_forwarding.md
    - その他:
      - 静的IPを手動で設定する方法: tutorials/manually_configure_static_ip.md
      - パブリックIPを持っているかどうかを確認する方法: tutorials/how_to_check_if_isp_assigns_you_a_public_ip_address.md
      - クライアントデバイスをブロックする方法: tutorials/how_to_block_client_devices.md
      - ルーターをアップグレードまたはダウングレードする方法 (v4.x から v4.x へ）: tutorials/how_to_upgrade_downgrade_router.md
      - T-Mobile SIMカードを有効化またはチャージする方法: tutorials/how_to_activate_top_up_sim_cards.md
  - インターフェースガイド:
    - 概要: interface_guide/index.md
    - インターネット接続:
      - インターネット: interface_guide/internet.md
      - イーサネット: interface_guide/internet_ethernet.md
      - リピータ: interface_guide/internet_repeater.md
      - テザリング: interface_guide/internet_tethering.md
      - セルラー: interface_guide/internet_cellular.md
      - SMS: interface_guide/sms.md
      - デュアルイーサネット WAN: interface_guide/dual-ethernet_wan.md
    - ワイヤレス:
      - ワイヤレス: interface_guide/wireless.md
    - クライアント:
      - クライアント: interface_guide/clients.md
    - VPN:
      - VPNダッシュボード: interface_guide/vpn_dashboard.md
      - OpenVPN クライアント: interface_guide/openvpn_client.md
      - OpenVPN サーバー: interface_guide/openvpn_server.md
      - WireGuard クライアント: interface_guide/wireguard_client.md
      - WireGuard サーバー: interface_guide/wireguard_server.md
      - Tor: interface_guide/tor.md
    - アプリケーション:
      - プラグイン: interface_guide/plugins.md
      - ダイナミックDNS: interface_guide/ddns.md
      - GoodCloud: interface_guide/cloud.md
      - ネットワークストレージ: interface_guide/network_storage.md
      - AdGuard Home: interface_guide/adguardhome.md
      - ペアレンタルコントロール: interface_guide/parental_control.md
      - ZeroTier: interface_guide/zerotier.md
      - Tailscale: interface_guide/tailscale.md
    - ネットワーク:
      - ファイアウォール: interface_guide/firewall.md
      - マルチワン: interface_guide/multi-wan.md
      - LAN: interface_guide/lan.md
      - ゲストネットワーク: interface_guide/guest_network.md
      - DNS: interface_guide/dns.md
      - ネットワークモード: interface_guide/network_mode.md
      - IPv6: interface_guide/ipv6.md
      - Macアドレス: interface_guide/mac_address.md
      - ドロップインゲートウェイ: interface_guide/drop-in_gateway.md
      - IGMPスヌーピング: interface_guide/igmp_snooping.md
      - ハードウェアアクセラレーション: interface_guide/hardware_acceleration.md
      - ネットワークアクセラレーション: interface_guide/network_acceleration.md
      - NAT設定: interface_guide/nat_settings.md
    - システム:
      - 概要: interface_guide/system_overview.md
      - ファームウェアのアップグレード: interface_guide/firmware_upgrade.md
      - スケジュールされたタスク: interface_guide/scheduled_tasks.md
      - 管理者のパスワード: interface_guide/admin_password.md
      - Time Zone: interface_guide/time_zone.md
      - トグルボタン設定: interface_guide/toggle_button_settings.md
      - ログ: interface_guide/log.md
      - セキュリティ: interface_guide/security.md
      - ファームウェアをリセットする: interface_guide/reset_firmware.md
      - 詳細設定: interface_guide/advanced_settings.md
  - ビデオライブラリ:
    - 概要: video_library/index.md
    - 新製品をご紹介します: video_library/products.md
    - チュートリアル: video_library/tutorials.md
    - 開梱と初回セットアップ: video_library/unboxing_first_set_up.md
  - コミュニティ:
    - 概要: community/index.md